<html lang="en">
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<head>
  {{>head}}
  <title>Waiter Web App</title>
</head>

<body>
  {{>bsnavbar}}
  <div class="container">
    {{{body}}}
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
