<div class="about">
  <h3>A waiter is a person who "waits" on tables,
      often at a restaurant or cafe. A female waiter is called a waitress.
      They will take orders and delivers food to customers.
     A good waiter can also help the customers by recommending the best food in the restaurant or cafe.</h3>
</div>
