<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <p>
    Hello, Thank you for visiting this site.
    First late me tell you how it works, 'In the Url, you type in the name that want to book the days to work, then press Enter.'
    From there the magic happens, you will be redirected to the days of the week and start selecting your prefered working days of your choice.
    Sounds interesting right?, Let's try it.
  </p>
  <h1><kbd>WAITER WEB APPLICATION</kbd></h1>
  <!-- <form id="container" action="/waiters" method="get">
    <input type="text" name="name" placeholder="Type your name here..." required>
    <input type="submit" name="name" value="Submit" required> -->
  </form>
</body>
</html>
