<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1><kbd>WAITER WEB APPLICATION</kbd></h1>
  <form id="container" action="/" method="post">
    <input type="text" name="name" placeholder="Type your name here...">
    <input type="submit" name="waiterName" value="Submit">
  </form>
</body>
</html>
