<!DOCTYPE html>

<head>
  <html>

  <body>
    <output><kbd>
      {{#if message.error}}
      <div class="error">
        {{message.rror}}
      </div>
      {{/if}}
      <br>
      </br>

      {{#if messages.success}}
      <div class="success">
        {{messages.success}}
      </div>
      {{/if}}

      <p>Hello, {{waiter.name}}, select your prefered working days below.</p>
    </output></kbd>
    <form class="days" action="days" method="post">
      <input type="checkbox" name="day" value="Monday" {{#if shift.Monday}} checked {{/if}}> Monday
      <input type="checkbox" name="day" value="Tuesday" {{#if shift.Tuesday}} checked {{/if}}> Tuesday
      <input type="checkbox" name="day" value="Wenesday" {{#if shift.Wenesday}} checked {{/if}}> Wenesday
      <input type="checkbox" name="day" value="Thursday" {{#if shift.Thursday}} checked {{/if}}> Thursday
      <input type="checkbox" name="day" value="Friday" {{#if shift.Friday}} checked {{/if}}> Friday
      <input type="checkbox" name="day" value="Saturday" {{#if shift.Saturday}} checked {{/if}}> Saturday
      <input type="checkbox" name="day" value="Sunday" {{#if shift.Sunday}} checked {{/if}}> Sunday
      <br><input type="submit" name="submit" value="Submit" required>
    </form>
  </body>
  </html>
