.card-body p a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.row .d-flex{
  background-color: red;
}

button a{
  text-decoration: none;
  color: white;
}

button a:hover{
  text-decoration: none;
  color: white;
}

.row .col-lg-2 {
  border: 0px solid #324b5c;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  height: 20px;
  float: center;
}
.container {
  background-color: #182838;
}

.row .col-lg-2 li{
  display: inline-block;
}

.card-header{
  color: black;
  font-size: 30px;
}

.displayDaysNames{
  color: white;
  font-weight: bolder;
}
