
body {
	background: #1d2a33 url('../images/bg.jpg') no-repeat;
	background-size: cover;
	text-align: center;
}
output{
	color: white;
}
.days {
	text-indent: -15px;
	font-size: 2pc;
	color: black;
  width: 100%;
  padding: 6px;
  margin:10px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

#container {
	margin: 40px;
}

.message {
color: white;
font-size: 1pc
}
